<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    id="navbarDropdown"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Renkler
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li *ngFor="let color of colorList">
        <div class="dropdown-item">
          {{ color.colorName}}
          <span (click)="setCurrentColor(color)" routerLink="/cars/color/{{color.colorId}}" class="badge bg-primary">
            Filtrele
          </span>
          <span (click)="setCurrentColor(color)" routerLink="/cars/color/{{color.colorId}}" class="badge bg-success">
            Düzenle
          </span>
        </div>
      </li>
    <!-- <li><hr class="dropdown-divider" /></li> -->
  </ul>
</li>
