<div class="container-fluid">
 <div class="btn-group dropstart">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        {{currentUser.firstName}} {{currentUser.lastName}} 
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">{{currentUser.firstName}} {{currentUser.lastName}}</a></li>
      <li><a class="dropdown-item" href="#">{{currentUser.email}}</a></li>
      <li><hr class="dropdown-divider"></li>
      <div class="d-flex">
      <li><button class="btn btn-primary" href="#">Duzenle</button></li></div>
    </ul>
  </div>
</div>